{% extends "erp/base.html" %}
{% load crispy_forms_tags %}

{% block pageheader %}<h2 class="pageheader-title">Create New Quotation </h2> {% endblock %}
                                    {% block breadcrumb %}
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Quoations</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Create Quotation</li>
                                            </ol>
                                    {% endblock %}
                                        
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        {% block content %}
                        

                        <div class="container">
                            <div class="card">
                                <div class="card-header">
                                    Create Quotation
                                </div>
                                <div class="card-body">
                                     {% crispy form %}
                                </div>
                            </div>
                        </div>

                                    
                                {% endblock %}
                        <!-- ============================================================== -->
                        <!-- end basic form  -->
                        <!-- ============================================================== -->
       