{% extends "erp/base.html" %}
{% block pageheader %}<h2 class="pageheader-title">Create New Customer </h2> {% endblock %}
                                    {% block breadcrumb %}
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Customers</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Create New Customer</li>
                                            </ol>
                                    {% endblock %}
                                        
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        {% block content %}
                        

                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {{ field.label}} {{ field}}
                                        {{field.errors}}
                                        <br>
                                    {% endfor %}
                                    <input type="submit" value="Submit">

                                </form>

                                    
                                {% endblock %}
                        <!-- ============================================================== -->
                        <!-- end basic form  -->
                        <!-- ============================================================== -->
       